

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cards2 {
  display: grid;
  grid-template-columns:auto auto auto;
    list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  
}

@media (max-width:1100px){
  .cards2{
    display: grid;
  grid-template-columns:auto auto;
  }
}
@media (max-width: 575px){
  .cards2{
    display: grid;
  grid-template-columns:auto ;
  }
}


.cards_item2 {
  display: flex;
  padding: 1rem;
}

.card_image2 {
  height: calc(10*1.2rem);
  padding: 1.2rem 1.2rem 0;
  position:relative;
}

.card_image2 img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.cards_item2 {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.card2 {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#397e44 0 1.2rem) right bottom /100% 100%,linear-gradient(#c9b92e 0 0) 30px 0/2px 100% #547638;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
  margin: 0 20px  20px;
}

.card_content2 {
  padding: 1.2rem;
}
.h2-about{
  color: white;
}
.h2-about.card_title2,p {
  margin: 1.2rem 0;
}
.h2-about.card_title2 {
    font-size: 1.3em;
}
body {
  font-family:monospace;
  background:#eee;
}


.card_text2{
  color:#f5f4ee;
}

.h3-about {
  border-top: 2px solid #397e44;
  width: 50%;
  float: none;
  display: flex;
  font-size: 50px;
  color: white;
  margin: 40px;
}

.h3-about::before {
  content: "";
  display: block;
  position: relative;
  top: 0px;
  left: 0;
  font-size: 35px;
  padding: 25px 35px;
  background-image: linear-gradient(to top, #547638 0, #547638 100%);
  color: #fff;
  float: left;
  line-height: 0;
  font-weight: 600;
  clip-path: polygon(0 -1%, 100% -1%, calc(100% - 35px) 100%, 0 100%);
}