:root {
  font-size: 20px;
  box-sizing: inherit;
}

.para {
  margin: 0;
  text-align: center;
  font-size: 40px;
  color: darkgreen;
}

.para:not(:last-child) {
  margin-bottom: 1.5em;
}

body-hero-div {
  font: 1em/1.618 Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
  color: #224;
  background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
    center/cover no-repeat fixed;
}

.card-hero {
  width: 100%; /* Set card width to 80% of the viewport width */
  height: 70vh; /* Increase minimum height */
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  flex-direction: column;

  flex-wrap: wrap;
  flex-direction: column;
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}
