/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
  background: url('olive-background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.contact-form-container {
  background-color: #547638;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(201, 231, 205);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

.button-countactUs {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(201, 231, 205);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-countactUs:hover {
  background-color: #f6eff4;
}
.contact-div{
  width: 100%;
  height: 100vh;

  display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;



}
.imgContact{
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgContact img{
height: 50vh;
width: 70%;
background-size: cover;
border-radius: 50%;
text-align: center;


}
