

nav{
  background-color: rgba(24, 120, 42, 0.709);
  position: fixed;
  
}

.bar{
  transition: 0.4s;
}

ul li a{
  
  transition: .4s;
}
ul li a:hover{
  color: rgb(110, 158, 124);
}

.slide-container{
  background-image: url(./olives2.jpg);
  background-size: cover;
}

 .slide-container{
  position: relative;
  top: 0%;
  width: 100%;
  height: 100vh;
 
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
  padding: 0;
  margin: 0;
}
.slide-container .slides{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
/*
.slide-container .slides img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.slide-container .slides img:not(.active){
  top: 0;
  left: -100%;
} */
span.next, span.prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px;
  color: #eee;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  
}
span.next{
  right: 20px;
}
span.prev{
  left: 20px;
}
span.next:hover, span.prev:hover{
  background-color: #ede6d6;
  opacity: 0.8;
  color: #222;
} 
/* .dotsContainer{
  position: absolute;
  bottom: 5px;
  
  left: 50%;
  transform: translateX(-50%);
}
.dotsContainer .dot{
  width: 15px;
  height: 15px;
  margin: 0px 2px;
  border: 3px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.dotsContainer .active{
  background-color: #555;
} */

@keyframes next1{
  from{
    left: 0%
  }
  to{
    left: -100%;
  }
}
@keyframes next2{
  from{
    left: 100%
  }
  to{
    left: 0%;
  }
}

@keyframes prev1{
  from{
    left: 0%
  }
  to{
    left: 100%;
  }
}
@keyframes prev2{
  from{
    left: -100%
  }
  to{
    left: 0%;
  }
}

@media (max-width: 768px) {

  ul li a{
    margin-right: 0px;
  }
  .humberger.active .bar:nth-child(3){
    transform: translateY(-12px) rotate(-45deg);
  }


  .nav_menu{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: -300%;
    
    border-radius: 5px;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: darkolivegreen;
    font-weight: bold;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;

    transition: 0.5s;
    

  }

  .ulContainer{
    flex-direction: column;
    align-items: center;
   
  }

  .nav_menu.active{
    top: 180px;
  }
}








/* dropDown-menu */
:root {
  --color-primary: #d5ca8e;
  --color-white: #e9e9e9;
  --color-black: #212919;
}

.nav_menu ul li {
  position: relative;
}
.nav_menu ul li a {
  
  color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
}
.nav_menu ul li a:hover {
  
  color: var(--color-primary);
   
}

.fas {
  padding-top: 3px;
}
/* dropdown menu style */
.dropdown-menu {
  display: none;
  
}

.nav_menu ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
  z-index: 1001;
}

.nav_menu ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
} 

/* cards styles */


.cards {
  box-sizing: border-box;
  font-size: 100%;
}

.cards {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.hero{
  width: 100%;
  height: 100vh;
  background-color: rgb(89, 79, 79);
}


.cards{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -250px;
  z-index: 100;
  flex-wrap: wrap;
}
.img-card {
  max-width: 100%;
  height: auto;
  z-index: 33;
}

.cards {
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}



.card-hover {
  width: 360px;
  height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
  z-index: 888;
}
.card-hover:has(.card-hover__link:hover) {
  transform: translateY(0);
  transition: transform 0.35s;
}
.card-hover:hover .card-hover__content {
  background-color: #547638;
  bottom: 100%;
  transform: translateY(100%);
  padding: 50px 60px;
  transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.card-hover:hover .card-hover__link {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.card-hover:hover .img-card {
  transform: scale(1);
  transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.card-hover__content {
  width: 100%;
  text-align: center;
  background-color: #547638;
  padding: 0 60px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0);
  transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  will-change: bottom, background-color, transform, padding;
  z-index: 1;
  color: white;
}
.card-hover__content::before, .card-hover__content::after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: inherit;
  position: absolute;
  left: 0;
  z-index: -1;
}
.card-hover__content::before {
  top: -80px;
  -webkit-clip-path: ellipse(60% 80px at bottom center);
          clip-path: ellipse(60% 80px at bottom center);
}
.card-hover__content::after {
  bottom: -80px;
  -webkit-clip-path: ellipse(60% 80px at top center);
          clip-path: ellipse(60% 80px at top center);
}
.card-hover__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.card-hover__title span {
  color: #d8d4a7;
}
.card-hover__text {
  font-size: 0.75rem;
}
.card-hover__link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: rgb(134, 191, 134);
  opacity: 0;
  padding: 10px;
  transition: all 0.35s;

}
.card-hover__link:hover svg {
  transform: translateX(4px);
}
.card-hover__link svg {
  width: 18px;
  margin-left: 4px;
  transition: transform 0.3s;
}


.card-hover .img-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
  transform: scale(1.2);
  transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.hero-background{
  background-image: url(../images/olivier.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons :hover{
color: darkolivegreen;
}
.card-hover__link span{
position: absolute;
bottom: -10px;
}
.card-hover__link svg{
position: absolute;
bottom: -27px;
}